// COLORS
$color-primary: rgb(85, 197, 122);
$color-primary-light: rgb(126, 213, 111);
$color-primary-dark: rgb(40, 180, 133);

$color-secondary-light: rgb(255, 185, 0);
$color-secondary-dark: rgb(255, 119, 48);

$color-tertiary-light: rgb(41, 152, 255);
$color-tertiary-dark: rgb(86, 67, 250);

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-2: rgb(248, 248, 248);
$color-grey-dark-2: rgb(153, 153, 153);
$color-grey-dark-3: rgb(51, 51, 51);

$color-grey-dark: rgb(119, 119, 119);
$color-white: rgb(248, 245, 245);
$color-black: rgb(0, 0, 0);
