.header {
  padding-top: 3.2rem;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.7),
      rgba($color-grey-light-2, 0.8)
    ),
    url("../img/isaac-wendland-7DCZgKyp8vw-unsplash.jpg");
  background-size: cover;
  background-position: end;
  position: relative;

  &__logo-box {
    position: relative;
    top: 4.8rem;
    left: 9%;
  }
  &__logo {
    height: 10.8rem;
  }
  &__text-box {
    font-size: 2.4rem;
    color: $color-grey-dark-3;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  &__heading {
    font-size: 4.4rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    & svg {
      position: relative;
      display: block;
      width: calc(135% + 1.3px);
      height: 12.4rem;
      transform: rotateY(180deg);
    }
    & .shape-fill {
      fill: $color-white;
    }
  }
}
