*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // This defines what one rem is ( 10px )
  font-size: 62.5%;
  @include respond(tab-land) {
    //width < 1200 ?
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //width < 900 ?
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light-1;
  overflow-x: hidden;
  @include respond(tab-port) {
    //width < 900 ?
    padding: 0;
  }
}
