.about-rules {
  height: 100vh;
  margin: 9.6rem 4.8rem;
  position: relative;

  &__title {
    position: relative;
    left: 21.5%;
  }
  &__description {
    display: inline-block;
    font-size: 2.4rem;
  }

  &__header {
    font-size: 1.8rem;
    margin-top: 0.8rem;
  }

  .rules {
    max-width: 100rem;
    margin: 9.6rem auto 0 auto;

    background-color: $color-grey-light-1;

    &__tab {
      margin-right: 2.4rem;
      transform: translateY(-50%);

      &-container {
        display: flex;
        justify-content: center;
        background-color: $color-white;
        border-radius: 3.2rem 3.2rem 0 0;
      }

      & span {
        margin-right: 1.2rem;
        font-weight: 600;
        display: inline-block;
      }

      &--1 {
        background-color: $color-secondary-light;
        &:hover {
          background-color: $color-secondary-dark;
        }
      }

      &--2 {
        background-color: $color-primary-light;
        &:hover {
          background-color: $color-primary-dark;
        }
      }

      &--3 {
        background-color: $color-tertiary-light;

        &:hover {
          background-color: $color-tertiary-dark;
        }
      }

      &--active {
        transform: translateY(-66%);
      }
    }

    &__content {
      display: none;

      &--active {
        background-color: $color-white;
        border-radius: 0 0 3.2rem 3.2rem;

        padding: 0 3.2rem 4.8rem 3.2rem;

        display: grid;
        grid-template-columns: 6.4rem 1fr;
        column-gap: 3.2rem;
        row-gap: 0.8rem;
      }

      & p {
        grid-column: 2;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.6;
        padding: 0.8rem;
      }
    }

    &__header {
      display: inline-block;
      font-size: 2.4rem;
      font-weight: 600;
      align-self: center;
      margin-bottom: 3.2rem;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;

      & svg {
        height: 2.4rem;
        width: 2.4rem;
      }

      &--1 {
        background-color: rgba($color-secondary-light, $alpha: 0.7);

        & svg {
          fill: $color-secondary-dark;
        }
      }

      &--2 {
        background-color: rgba($color-primary, $alpha: 0.7);

        & svg {
          fill: $color-primary-dark;
        }
      }
      &--3 {
        background-color: rgba($color-tertiary-light, $alpha: 0.7);

        & svg {
          fill: $color-tertiary-dark;
        }
      }
    }
  }
}
