.section-about {
  padding: 9.6rem 0;
  background-color: $color-grey-light-1;
  .container-about {
    max-width: 130rem;
    margin: 0.8rem auto;
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 9.6rem;
    &__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      gap: 8rem;
    }

    &__description {
      padding: 6.4rem;

      &__paragraph {
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
  }
}

.section-about-race {
  padding: 8rem 6.4rem;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  align-items: center;
}

.section-form {
  padding: 15rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
